<div class="ui three column center aligned divided relaxed stackable grid container">
	<div class="row">
		<div class="column">
			<h2 class="ui icon header">
				<img class="ui icon image" src="<%= url("img/lab.png")%>">
				Labs
			</h2>
			<p>+ Ideas, experimentos.</p>
			<a class="ui large button" href="/usage/theming.html">Descubre</a>
		</div>
		<div class="column">
			<h2 class="ui icon header">
				<img class="ui icon image" src="<%= url("img/book.png")%>">
				Blog
			</h2>
			<p>+ Articulos, tutoriales.</p>
			<div class="ui primary view-ui large button">Aprende</div>
		</div>
		<div class="column">
			<h2 class="ui icon header">
				<img class="ui icon image" src="<%= url("img/art.png")%>">
				Arte
			</h2>
			<p>
				Videos, fotos, origami.
			</p>
			<a href="https://github.com/Semantic-Org/Semantic-UI/issues" class="ui large button">Relajate</a>
		</div>
	</div>
</div>