<!DOCTYPE HTML>
<html ng-app="equisd">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>equis d</title>
	<link rel="stylesheet" href="<%= url("js/lib/semantic/dist/semantic.min.css")%>">
	<link rel="stylesheet" href="<%= url("css/core/app.css")%>">
</head>
<body class="">
	<div class="ui grid">
		<div class="one column">
			<div class="text-center">
				<img id="logo" src="<%= url("img/equisd.png")%>">
			</div>
		</div>
	</div>
	<div id="first" class="feature alternate ui stripe vertical segment">
		<%= yield %>
	</div>
	<div class="ui black inverted vertical footer segment">
		<div class="ui center aligned container">
			<div class="ui stackable inverted grid">
				<div class="five wide column">
					<h4 class="ui inverted header">Labs</h4>
					<div class="ui inverted link list">
						<a class="item" href="http://photon.rayrojas.info/" target="_blank">Finder web</a>
					</div>
				</div>
				<div class="five wide column">
					<h4 class="ui inverted header">Blog</h4>
					<div class="ui inverted link list">
						<a class="item" href="http://blog.rayrojas.info/2016/04/transacciones-ajax-entre-dominios-el.html" target="_blank">CORS</a>
					</div>
				</div>
				<div class="five wide column">
					<h4 class="ui inverted header">Arte</h4>
					<div class="ui inverted link list">
						
					</div>
				</div>
			</div>
			<div class="ui inverted section divider"></div>
			<div class="ui horizontal inverted small divided link list">
				<a class="item" href="http://www.rayrojas.info" target="_blank">- Ry</a>
			</div>
		</div>
	</div>
</body>
</html>