body {
    
}

#logo {
	margin-top: 30px
}

.text-center {text-align: center;}
.footer {margin-top: 200px!important}

/* index */
#first {background: #D6CEC3; padding: 50px 0px; margin-top: 50px}
#first .ui.icon.image {width: auto; height: 65px}

/* style status */
.page-status {text-align: center; padding-top: 150px}
.page-status h3 {font-size: 72px; color: #533E66;}
.page-status h1 {font-size: 128px; color: #444}
.page-status h4 {font-size: 48px; color: #E95861;}
.page-status h5 {font-size: 36px; color: #3F8B9E;}

hr {border: 1px 0px 0px 0px solid #eee;}